<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:networkSecurityConfig="@xml/network_security_config"
        android:icon="@drawable/logo_appikon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_appikon"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnderGrup"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="unspecified"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Screens.OnBoard.OnBoarding1"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".Screens.OnBoard.OnBoarding2"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".Screens.OnBoard.OnBoarding3"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".Screens.Auth.LoginScreen"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".Screens.Auth.ResetPassword.ForgetPassword"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".Screens.Auth.ResetPassword.ForgetPasswordSelection"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".Screens.Auth.ResetPassword.ForgetPasswordVerification"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".Screens.Auth.ResetPassword.ForgetPasswordNewPass"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".Screens.Auth.ResetPassword.ForgetPasswordSuccess"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".Screens.Machine.MachineScreen"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".Screens.Machine.MachineListScreen"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".Screens.Dashboard.User"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".Screens.Documents.DocumentsScreen"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".Screens.Documents.ManualScreen"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".Screens.Documents.PrivacyScreen"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".Screens.Documents.KVKKScreen"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".Screens.Documents.DestructionScreen"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".Screens.SubUser.SubUserScreen"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".Screens.SubUser.SubUserAddScreen"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".Screens.SubUser.SubUserListScreen"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".Screens.QR.QRScanner"
            android:screenOrientation="unspecified"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Screens.Profile.ProfileScreen"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".Screens.Profile.EditProfileScreen"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".Screens.Profile.EditSubScreen"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".Screens.Log.Error.ErrorLog"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".Screens.Log.Maintenance.MaintenanceLog"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".Screens.Log.Maintenance.MaintenanceSingle"
            android:screenOrientation="unspecified" />
    </application>

</manifest>