<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Donanım özellikleri -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <!-- Gerekli izinler -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- Android 13 ve üzeri için medya izinleri -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- Dosya erişim izinleri -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <!-- Konum erişim izinleri -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- Kamera ve Wi-Fi erişim izinleri -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".DefaultApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:networkSecurityConfig="@xml/network_security_config"
        android:icon="@drawable/logo_appikon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_appikon"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnderGrup"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31" >
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Screens.OnBoard.OnBoarding" />
        <activity
            android:name=".UI.Screens.Auth.LoginScreen"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".UI.Screens.Auth.ResetPassword.ForgetPassword" />
        <activity
            android:name=".UI.Screens.Auth.ResetPassword.ForgetPasswordSelection" />
        <activity
            android:name=".UI.Screens.Auth.ResetPassword.ForgetPasswordVerification" />
        <activity
            android:name=".UI.Screens.Auth.ResetPassword.ForgetPasswordNewPass"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".UI.Screens.Auth.ResetPassword.ForgetPasswordSuccess" />
        <activity
            android:name=".UI.Screens.Machine.MachineScreen" />
        <activity
            android:name=".UI.Screens.Machine.MachineListScreen" />
        <activity
            android:name=".UI.Screens.Dashboard.User"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".UI.Screens.Documents.DocumentsScreen" />
        <activity
            android:name=".UI.Screens.Documents.ManualScreen" />
        <activity
            android:name=".UI.Screens.Documents.PrivacyScreen"  />
        <activity
            android:name=".UI.Screens.Documents.KVKKScreen" />
        <activity
            android:name=".UI.Screens.Documents.DestructionScreen" />
        <activity
            android:name=".UI.Screens.SubUser.SubUserScreen" />
        <activity
            android:name=".UI.Screens.SubUser.SubUserAddScreen" />
        <activity
            android:name=".UI.Screens.SubUser.SubUserListScreen" />
        <activity
            android:name=".UI.Screens.QR.QRScanner"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".UI.Screens.Profile.ProfileScreen" />
        <activity
            android:name=".UI.Screens.Profile.EditProfileScreen" />
        <activity
            android:name=".UI.Screens.Profile.EditSubScreen" />
        <activity
            android:name=".UI.Screens.Log.Error.ErrorLog" />
        <activity
            android:name=".UI.Screens.Log.Maintenance.MaintenanceLog" />
        <activity
            android:name=".UI.Screens.Log.Maintenance.MaintenanceSingle" />
        <activity
            android:name=".UI.Screens.Log.Error.ErrorLogAll" />
        <activity
            android:name=".UI.Screens.Log.Maintenance.MaintenanceLogAll" />
        <activity
            android:name=".UI.Screens.Dashboard.Technician" />
        <activity
            android:name=".UI.Screens.Machine.RestrictedMachineScreen" />
        <activity
            android:name=".UI.Screens.Log.Maintenance.CreateMaintenance" />
        <activity
            android:name=".UI.Screens.Dashboard.Engineer"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".UI.Screens.VersionHistory.VersionHistory" />

        <activity
            android:name=".UI.Screens.Settings.SettingsDashboard" />

        <activity
            android:name=".UI.Screens.SupportTicket.SupportTickets" />
        <activity
            android:name=".UI.Screens.SupportTicket.SupportTicketDetails"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>